<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title> </title>
</head>
<body>
	<section>
	<div class="container">
	  
	  <div class="card">
	  
	     <div class="card-body text-center">
	     
	     <img src="" class="viewconimg" th:src="@{'/img/calling.png'}" alt="calling png" />
	     <h3 class="mt-2 font-italic text-warning"> Starting Store Your Smart Contact To Cloud !! </h3>

			<a href="" th:href="@{/user/add-contact}" class="btn btn-primary mt-2">Add New Contact</a>
		
	     </div>
	     
	    
	  </div>
	
	</div>
	
	</section>
</body>
</html>
