<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title> </title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-item-center">
		<div class="content text-center">
			<h1>Smart Contact Manager</h1>
			<p class="font-weight-itallic">Lorem ipsum dolopisicing elit. Autem possimus recusandae quibusdam enim distinctio cum nulla veritatis ullam provident voluptate!</p>
			<button class="btn btn-primary " ><a href="" th:href="@{/user/dashboard}" class="text-white">Get Start </a> </button>
		</div>
	</section>
</body>
</html>
